.main-spacer {
  flex: 1 1 auto;
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1em;
}
.content {
  width: 69em;
  min-width: 40em;
  max-width: 69em;
  height: 50em;
}
.list-card {
  margin-top: 1em;
}
.list-fav-name {
  font-size: 1.5em;
  margin-right: 1em;
}
