<h1 mat-dialog-title>{{data.name}}</h1>
<div mat-dialog-content>
  <p *ngIf="hasDescription()">{{data.description}}</p>
  <ngx-barcode *ngIf="data.type === 'bc'" [bc-value]="data.code" [bc-display-value]="true" [bc-width]="6"></ngx-barcode>
  <ngx-qrcode *ngIf="data.type === 'qr'" [value]="data.code" [width]="300"></ngx-qrcode>
</div>
<div mat-dialog-actions>
  <button mat-icon-button [routerLink]="['./new']">
    <mat-icon aria-hidden="false" aria-label="Редактировать">edit</mat-icon>
  </button>
  <button mat-icon-button [routerLink]="['./new']">
    <mat-icon aria-hidden="false" aria-label="Удалить">delete</mat-icon>
  </button>
  <span class="main-spacer"></span>
  <button mat-icon-button (click)="onClose()">
    <mat-icon aria-hidden="false" aria-label="Закрыть">close</mat-icon>
  </button>
</div>
