<h1 mat-dialog-title>{{data.card.name}}</h1>
<div mat-dialog-content>
  <p *ngIf="hasDescription()">{{data.card.description}}</p>
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <ngx-barcode class="barcode" *ngIf="data.card.type === 'bc'" [bc-value]="data.card.code" [bc-display-value]="true" [bc-width]="6"></ngx-barcode>
    <ngx-qrcode *ngIf="data.card.type === 'qr'" [value]="data.card.code" [width]="300"></ngx-qrcode>
    <p *ngIf="isOtherType()" class="other-code">{{ data.card.code }}</p>
  </div>
</div>
<div mat-dialog-actions>
  <button *ngIf="isMyCard()" mat-icon-button [routerLink]="['./edit/',data.card.id]" (click)="onClose()">
    <mat-icon aria-hidden="false" aria-label="Редактировать">edit</mat-icon>
  </button>
  <button *ngIf="isMyCard()" mat-icon-button (click)="onDelete()">
    <mat-icon aria-hidden="false" aria-label="Удалить">delete</mat-icon>
  </button>
  <span class="main-spacer"></span>
  <button mat-icon-button (click)="onClose()">
    <mat-icon aria-hidden="false" aria-label="Закрыть">close</mat-icon>
  </button>
</div>
