.main-spacer {
  flex: 1 1 auto;
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1em;
}
.card-not-found-title {
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;
}
.card-pic {
  width: 11em;
  height: 11em;
}
.card-info {
  width: 57em;
  height: 11em;
  margin-left: 1em;
}
.card-info-title {
  margin-top: 0.5em;
  margin-left: 0.5em;
  height: 1.5em;
}
.card-info-subtitle {
  margin-left: 1em;
}
.cards {
  width: 69em;
  min-width: 40em;
  max-width: 69em;
  margin-top: 1em;
  display: block;
}
.add-friend-button {
  margin-right: 0.5em;
}
.profile-pic-button {
  background-color: #EBEBEB;
  width: 5em;
  height: 5em;
}
.profile-pic-image {
  scale: 400%;
}
.stats-text {
  font-size: 1.5em;
}
.grid {
  width: 69em;
}
.grid-card {
  width: 15em;
  height: 10em;
  margin: 2em;
}
.list-card {
  margin-top: 1em;
}
