.main-spacer {
  flex: 1 1 auto;
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1em;
}
.card {
  padding-top: 1em;
  width: 69em;
}
.form-filed {
  margin-left: 1em;
  margin-right: 1em;
}
.select {
  margin-left: 1em;
  width: 20em;
}
.button {
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
}
